
CONFIG_IPROUTE2=y
CONFIG_QVM2000=y
CONFIG_QVM2100=y
CONFIG_RV0XX=y
CONFIG_COMMON_UI=y
CONFIG_SSL_UI=y

CONFIG_PPP2_4_3=y
CONFIG_PPTP_CLIENT=y
CONFIG_NK_NSD=y
CONFIG_NK_RIP=y
CONFIG_NK_DDNS_QDNS=y

NK_CONFIG_DHCPCD=y
NK_CONFIG_UDHCP=y
NK_CONFIG_DNSMASQ=y
NK_CONFIG_DDNS=y
NK_CONFIG_SYSKLOGD=y
NK_CONFIG_TFTP=y
NK_CONFIG_NTPCLIENT=y
NK_CONFIG_EASYACCESS=y

NK_CONFIG_PPTPD=y

CONFIG_NK_IPSEC=y
CONFIG_NK_STRONGSWAN=y
CONFIG_NK_LIBGMP=y

NK_CONFIG_SNMP=y

CONFIG_NK_DHCP_RELAY=y

CONFIG_NK_IPSEC_RW_CONN=y

CONFIG_NK_CRAMFS=y

CONFIG_NK_BONJOUR=y

CONFIG_NK_URL_TMUFE_FILTER=y

NK_CONFIG_IPV6=y
