
.cifsbodyback{background-image: url(/images/extrayellow.png);overflow-x:hidden;}
.cifsmenuleft{background-color:#fdeb88;}
.cifstop3{BACKGROUND-COLOR:#cf0920;border-bottom:1px #cf0920 solid;border-top:1px #ffddcc solid;}
.cifstop5{background-color:#f08918;border-bottom:1px #110000 solid;border-top:1px #ffccaa solid;}
.cifstop6{background-color:#f08918;border-bottom:1px #110000 solid;border-top:1px #ffccaa solid;}
.toolbarcifs{color:#ffffff;FONT-FAMILY: Verdana,Arial, Tahoma, Helvetica; FONT-SIZE:11px;FONT-WEIGHT: bold;}
.navigator{color:#fcfc98; cursor:hand; font-FAMILY: Verdana,sans-serif, Arial, Helvetica; FONT-SIZE:11px;FONT-WEIGHT: bold;}
.mainbackcifs{COLOR:#000000; background-color:#fbf5b5;FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica; FONT-SIZE:11px;}
.onmainbackcifs{COLOR:#000000; background-color:#fdeb88;FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica; FONT-SIZE:11px;}
A.mainbackcifs{COLOR:#000000; font-FAMILY: Tahoma, Verdana, Arial, Helvetica; FONT-SIZE:11px;}
.cifslefttable{BACKGROUND-COLOR:#cf0920;border:1px #55331f solid;}
.cifsleftcell{BACKGROUND-COLOR:#f08918;border-top:1px #55331f solid;}
.cifslefttitle{color:#ffffff;FONT-FAMILY: Verdana, Tahoma, "Lucida Sans", "Lucida Console", Arial, Helvetica; FONT-SIZE:11px;FONT-WEIGHT: bold;}
.disableduplink{color:#ffcc99;FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE:11px;FONT-WEIGHT: bold;}
.demo1{color:#ffffff;font-family:verdana,'trebuchet ms',helvetica,sans-serif;font-size:11px;font-weight:bold;border:1px solid; margin:2px;border-top-color:#808790;border-left-color:#808790;border-right-color:#556066;border-bottom-color:#556066;background-color:#e6e2df; vertical-align:center;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#fff4f1ef',EndColorStr='#ffddd8d5');}
.onhovers{margin:2px;margin-color:#ccbb44;color:#dfbf4f;font-family:verdana,'trebuchet ms',helvetica,sans-serif;font-size:11px;font-weight:bold;border:2px solid #dfbf4f;background-color:#e6e2df;cursor:hand; vertical-align:center;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#fff4f1ef',EndColorStr='#ffddd8d5');}}
.other2{color:#ffffff}

.cifsback{background-color:#fbf5b5;}
 
