TD.tabback{background-color:#3c5fa6;}
.onmiddletab{background: url("/images/others/middletab.gif");background-color:#203c7e;}
.onmiddletabbottom{background: url("/images/others/middletab1.gif");BACKGROUND-COLOR:#a30001;}
.toptabfont{Font-family:Tahoma, Arial;color:#ffffff;font-size:11px;}
.bottomtabfont{Font-family:Tahoma, Arial;color:#ffffff;font-size:11px;}
.centertable{background-color:#ffffff;overflow-x:hidden;overflow-y:hidden;BORDER: #66769f 1px solid;}
.centertablenb{background-color:#ffffff;overflow-x:hidden;overflow-y:hidden;BORDER-top: #66769f 1px solid;BORDER-right: #66769f 1px solid;BORDER-left: #66769f 1px solid;}
.middleback{BACKGROUND-COLOR:#66769f;}
.backs2{BACKGROUND-COLOR:#c30022;}
.mainback{BACKGROUND-COLOR:#fbfbe8; COLOR:#000000; FONT-FAMILY: sans-serif, Arial, Helvetica; FONT-SIZE:12px;}
TD.mainback{BACKGROUND-COLOR:#fbfbe8; COLOR:#000000; FONT-FAMILY: sans-serif, Arial, Helvetica; FONT-SIZE:12px;}
.mainback2{COLOR:#393c3f; FONT-FAMILY: sans-serif, Arial, Helvetica; FONT-SIZE:12px;}
TD.titlerow{BACKGROUND-COLOR:#3c5fa6;border: 1px solid #33549b;}
TD.HeadingStyle{BACKGROUND-COLOR:#c10022;font-weight: bold;}
.HeadingStyle{FONT-size:13px;FONT-FAMILY:Trebuchet MS, Verdana, Tahoma, sans-serif, Arial, Garamond; COLOR:#ffffff; font-weight: bold;}
.headingstylenomargin{FONT-size:13px;FONT-FAMILY:Trebuchet MS,Verdana, Tahoma, sans-serif, Arial, Garamond; COLOR:#ffffff; font-weight: bold;}
.darkback{}
TD.darkback{}
.toolbar{COLOR:#000000; FONT-FAMILY: Tahoma, verdana, Lucida Sans, sans-serif, Arial, Helvetica; FONT-SIZE:11px;}
A.toolbar{COLOR:#000000; FONT-FAMILY: Tahoma,Verdana, sans-serif, Arial, Helvetica; FONT-SIZE:11px; TEXT-DECORATION:none;}
.toolBarsmall{COLOR:#000009; FONT-FAMILY: sans-serif, Arial, Helvetica; FONT-SIZE:11px;}
.toolBarsmall2{COLOR:#304050; FONT-FAMILY: sans-serif, Helvetica; FONT-SIZE:12px;}
A{COLOR:#393c3f; TEXT-DECORATION:none}
.windowsfont{COLOR:#050505; FONT-FAMILY: Tahoma, sans-serif, Arial, Helvetica; FONT-SIZE:11px;}
.button{COLOR:#ffffff; FONT-FAMILY: sans-serif, Arial, Helvetica; FONT-SIZE:12px; FONT-WEIGHT: bold}
.toolbar2{COLOR:#304050; FONT-FAMILY: Tahoma,sans-serif, Arial, Helvetica; FONT-SIZE:11px; TEXT-DECORATION:none}
A.toolbar2{COLOR:#51616a; FONT-FAMILY: sans-serif, Arial, Helvetica; FONT-SIZE:11px; TEXT-DECORATION:none}
.HeadingStyle3{FONT-SIZE:13px;COLOR:#333333;FONT-FAMILY: "Lucida Sans",Tahoma;font-weight: bold;}
.titlerow{}
.bodyback{FONT-FAMILY: sans-serif, Arial, Helvetica; FONT-SIZE:12px;background-color:#fbfbe8;}
A:visited{TEXT-DECORATION:none;COLOR:#51616a;}
.windowsfont{COLOR:#050505; FONT-FAMILY: Tahoma, sans-serif, Arial, Helvetica; FONT-SIZE:11px;} 
.navmenuback{BACKGROUND-COLOR:#eeebe9;}
a:hover.bbuttons{COLOR:#ffff88; FONT-WEIGHT: bold;}
a:hover{COLOR:#f0da33;}
.allow{font-size:11px; FONT-WEIGHT: bold;FONT-FAMILY:Tahoma, sans-serif, Arial, Garamond; color:#00b000;}
.permit{font-size:11px; FONT-WEIGHT: bold;FONT-FAMILY:Tahoma, sans-serif, Arial, Garamond; color:#00b000;}
.deny{font-size:11px; FONT-WEIGHT: bold; font-FAMILY:Tahoma, sans-serif, Arial, Garamond; color:#dc0005;}
.badval{font-size:12px; FONT-WEIGHT: bold; font-FAMILY:Tahoma, sans-serif, Arial, Garamond; color:#dc0005;}
.bcenter{border:1px solid;margin:2px;border-top-color:#aaaaaa;border-left-color:#aaaaaa;border-right-color:#888888;border-bottom-color:#888888;background-color:#e6e6e6;height:22px;vertical-align:center;filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#fff4f4f4, endColorstr=#ffd1d1d1);}
.bleft{padding: 0px;width:0px;margin:0px;}
.bright{padding: 0px;width:0px;margin:0px;}
.buttons{font-family:verdana,'trebuchet ms',helvetica,sans-serif;font-size:11px;text-align:center;text-decoration:none;margin:0px;color:#303740;background-color:transparent;border-width:0px;padding:0px; cursor:hand;}
.bhover{FOnt-size:12px;font-family:Arial,Tahoma,Tahoma, sans-serif,Arial;text-align:center;text-decoration:none;margin: 1 0 1 0;color:#e2d200;background-color:transparent;border-width:0px;padding:0px;}
.bbcenter{border:1px #31518f solid;margin:2px;BACKGROUND-COLOR:#c10022;height:22px;vertical-align:center;}
.bbcenteron{border:1px #31518f solid;margin:2px;height:22px;vertical-align:center;cursor:hand;BACKGROUND-COLOR:#e13044;}
.bbuttons{Font-size:12px;font-family:Lucida Sans,Tahoma, sans-serif,Arial;text-align:center;font-weight: bold;margin:1px;color:#ffffff;backgr-ound-color:transparent;border-width:0px;padding:0px;cursor:hand;}
.bbhover{FOnt-size:12px;font-family:Lucida Sans,Tahoma, sans-serif,Arial;text-align:center;font-weight:bold;margin:1px;background-color:transparent;border-width:0px;color:#ffee22;padding:0px;}
.statuspagetable{background-color:#fcfcfc;}
.TableStyle{font-family: Tahoma, sans-serif; FONT-SIZE:10pt;COLOR:#112233;}
TR.HeadingStyle{FONT-size:12px;FONT-FAMILY:Lucida Sans, Tahoma, sans-serif, Arial, Garamond; COLOR:#ffffff;backGROUND-COLOR:#c10022;}
TABLE.Headingstyle{BORDER-right: #31518f 1px solid;BORDER-left: #31518f 1px solid;BORDER-top: #31518f 1px solid;BACKGROUND-COLOR:#c10022;}
.OddRowStyle{font-size:12px;FONT-FAMILY:Tahoma, sans-serif, Arial, Garamond;color:#102030}
.EvenRowStyle{font-size:12px;FONT-FAMILY:Tahoma, sans-serif, Arial, Garamond;color:#102030}
A.EvenRowStyle2{font-size:11px;FONT-FAMILY:Tahoma, sans-serif, Arial, Garamond;color:#0104f0}
A.EvenRowStyle{font-size:12px;FONT-FAMILY:Tahoma, sans-serif, Arial, Garamond;color:#0104f0}
A.OddRowStyle{font-size:12px;FONT-FAMILY:Tahoma, sans-serif, Arial, Garamond;color:#0104f0}
A.OddRowStyle2{font-size:11px;FONT-FAMILY:Tahoma, sans-serif, Arial, Garamond;color:#0104f0}
TR.OddRowStyle2{font-size:11px;FONT-FAMILY:Tahoma, sans-serif, Arial, Garamond; BACKGROUND-COLOR:#ffffff;}
TR.EvenRowStyle2{font-size:11px;FONT-FAMILY:Tahoma, sans-serif, Arial, Garamond; BACKGROUND-COLOR:#fcfcee;}
TR.OnRowStyle2{font-size:11px;FONT-FAMILY:Tahoma, sans-serif, Arial, Garamond;background-color:#f9f5da;}
.accesspointRowOdd{Font-size:11px;padding-top:3px; padding-bottom:3px;border-top:1px #5A646E solid;background-color:#ffffff;}
.accesspointRowEven{Font-size:11px; padding-top:3px;padding-bottom:3px;border-top:1px #5A646E solid;background-color:#fcfcee;}
.accesspointRowOn{Font-size:11px; padding-top:3px;padding-bottom:3px;border-top:1px #5A646E solid;background-color:#f8f5da;}
.TotalRowStyle{background-COLOR:#96b6ff; font-weight: bold}
.input{height:20px;font-size:12px;filter: progid:DXImageTransform.Microsoft.Shadow(color:#6688aa,direction=135, Strength='1');background-color:#ffffff;BORDER: #66769f 1px solid;FONT-FAMILY: sans-serif, Tahoma, Arial, Helvetica;padding-top: 2px;color:#393c3f;valign=bottom;}
.select{background-COLOR:#ffffff;FONT-SIZE:12px;BORDER: #66769c 1px solid;FONT-FAMILY: sans-serif, Tahoma, Arial, Helvetica;color:#393c3f;}
.hintsClass{width:100%;border:1px solid #000000;font-size:11px;font-family:Tahoma, sans-serif,Arial;layer-background-color:#fbfb9b;background-color:#fcfcdc;padding:4px;filter:progid:DXImageTransform.Microsoft.Shadow(color:#64646f,direction=135, strength=3);COLOR:#000000;} 
A.linkblue{color:#2211f8;FONT-FAMILY: Tahoma,sans-serif, Arial, Helvetica; FONT-SIZE:12px;}
A.linkblue2{color:#2211f8;FONT-FAMILY: Tahoma,sans-serif, Arial, Helvetica; FONT-SIZE:11px;}
td.bookmarktop{background: url("/images/topbookmarkred.png");background-repeat: no-repeat;margin:0px;padding:0px;background-color:#ffffff;}
td.bookmarkbottom{background: url("/images/bottombookmarkred.png");background-repeat: no-repeat;margin:0px;padding:0px;background-color:#ffffff;}
td.bigbookmarktop{background: url("/images/topbookmarkred.png");margin:0px;padding:0px;background-color:#ffffff;}
td.bigbookmarkbottom{background: url("/images/bottombookmarkred.png");margin:0px;padding:0px;background-color:#ffffff;}
td.loginbottom{background: url("/images/loginbottomred.png");background-repeat: no-repeat;margin:0px;padding:0px;background-color:#ffffff;}
td.logintop{background: url("/images/logintopred.png");background-repeat: no-repeat;margin:0px;padding:0px;background-color:#ffffff;}
