body{FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE:12px;}
.bodyback{BACKGROUND-COLOR:#e6e6e6;}
.mainback{BACKGROUND-COLOR:#f4f4f4;}
A{TEXT-DECORATION:none;COLOR:#304054;}
A:visited{TEXT-DECORATION:none;COLOR:#304054;}
a:hover{COLOR:#55484f; TEXT-DECORATION:none; cursor:pointer; cursor:hand;}
.darkback{BACKGROUND-COLOR:#708090;}
TD.darkback{BACKGROUND-COLOR:#708090;}
DIV.clk7{position:relative; left:0px; height:28px; width:175px; visibility:visible; background-color:#fafafa; border-right:1px solid #708090;} 
DIV.clk7k{position:relative; left:0px; height:28px; width:175px; visibility:visible; background-color:#eee5ce; border-right:1px solid #708090;}
DIV.clk7Sub1{position:absolute; left:0px; height:26px; width:175px; visibility:hidden; background-color:#fafafa; border-right:1px solid #708090;} 
DIV.menubottomrow{background-color:#fafafa;border-bottom:1px solid #708090; border-right:1px solid #708090;}
DIV.clk7Sub1k{position:absolute; left:0px; height:26px; width:175px; visibility:hidden; background-color:#eee5ce; border-right:1px solid #708090;} 
#divk7Cont{position:relative; left:0px; top:0px; height:322px; width:175px; visibility:hidden}
A.clk7Links{font-family:Arial, Verdana, Helvetica; font-size:11px; text-decoration:none; COLOR:#304054; width:175px; height:25px; line-height:180%}
A.clk71Links{font-family:Arial, Verdana, Helvetica; font-size:11px; text-decoration:none; COLOR:#304054; width:175px; height:25px; line-height:180%}
td.mainbottom{background: url("/images/bottomorangered.png");background-repeat: no-repeat;margin:0px;padding:0px;}
td.maintop1{background: url("/images/toprightgreyorangered3.png");background-repeat: no-repeat;margin:0px;padding:0px;}
td.maintop0{background: url("/images/mainlogo.gif");background-repeat: no-repeat;}
td.maintop2{background: url("/images/topbottomorangered.gif");background-repeat: no-repeat;background-color:#f4f4f4;margin:0px;padding:0px;}
.menubackground{background-color:#fafafa;border-right:1px solid #708090;}