.cifsbodyback{
overflow-x:hidden;
}
.demo1{
color:#30363f;
font-family:verdana,'trebuchet ms',helvetica,sans-serif;
font-size:11px;
font-weight:bold;
border:1px solid;
margin:2px;
border-top-color:#808790;
border-left-color:#808790;
border-right-color:#556066;
border-bottom-color:#556066;
background-color:#e6e2df;
align:center;
vertical-align:center;
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#fff4f1ef',EndColorStr='#ffddd8d5');}
.onhovers{
margin:2px;
margin-color:#ccbb44;
color:#dfbf4f;
font-family:verdana,'trebuchet ms',helvetica,sans-serif;
font-size:11px;
font-weight:bold;
border:2px solid #dfbf4f;
background-color:#e6e2df;
cursor:pointer;
cursor:hand;
align:center;
vertical-align:center;
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#fff4f1ef',EndColorStr='#ffddd8d5');
}
.whar{color:e7e2df}
